{{!< default}}
  <section id="page">
    
    <div class="header-wrapper avatar-style-square">
      <header id="header">
        <div class="header-image-wrapper">
                      <div class="header-image cover" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}></div>
                  </div>
        <div class="blog-title content">
          <figure class="avatar-wrapper animate">
            <a href="/about/" style="background-image:url({{#if image}}{{image}}{{else}}{{asset "avatar.png"}}{{/if}})" class="user-avatar"></a>
          </figure>
          <div class="title-group animate">
            <h1><a href="{{website}}">{{name}}</a></h1>
            {{#if bio}}<span class="description">{{bio}}</span>{{/if}}
          </div>
        </div>   
      </header>
    </div>
  </section>
{{> "loop"}}