<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="theme-color" content="#fff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{asset "style.min.css"}}">
    <link rel="stylesheet" href="{{asset "nprogress.min.css"}}">
    {{ghost_head}}
</head>
<body class="{{body_class}} regular index-page">
  <div id="pjax">
    {{> "navbar"}}
    {{{body}}}
  </div>
  <footer id="footer">
  &copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a> | Powered by <a href="https://ghost.org" target="_blank">Ghost</a> | Theme by <a href="http://imikirby.com" target="_blank">iKirby</a> & <a href="http://www.tcdw.net" target="_blank">tcdw</a>
  </footer>

   <script type="text/javascript">
   var disqus_shortname = 'YOUR DISQUS SHORTNAME HERE';
   (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = '{{asset "embed.js"}}';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
   })();
   </script>

  {{ghost_foot}}
  
  <script src="{{asset "jquery.pjax.min.js"}}"></script>
  <script src="{{asset "nprogress.min.js"}}"></script>
  <script src="{{asset "script.js"}}"></script>

</body>
</html>