{{!< default}}
  <section id="page">
    <div class="header-wrapper avatar-style-square">
      <header id="header">
        <div class="header-image-wrapper">
                      <div class="header-image cover" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}></div>
                  </div>
        <div class="blog-title content">
          <figure class="avatar-wrapper animate">
            <a href="/about/" style="background-image:url({{asset "avatar.png"}})" class="user-avatar"></a>
          </figure>
          <div class="title-group animate">
            <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
            <span class="description">{{@blog.description}}</span>    
          </div>
        </div>   
      </header>
    </div>
  </section>
{{> "loop"}}
