{{!< default}}
{{#post}}
<div id="pjax">
  <section id="page">
    <div class="nav-menu-wrapper">
      <nav class="nav-menu pop">
        <div class="navbar">
          <div class="selector">
            <div class="bar-icon-wrapper">
              <span class="bar-icon"></span>
              <span class="bar-icon"></span>
              <span class="bar-icon"></span>
            </div>
          </div>
          <div class="gotop"><i class="icon-arrow_carrot_right top"></i></div>
        </div>
        <div class="pop-menu west">
          <ul>
            <div class="subtitle">&nbsp;&nbsp;MENU</div>
                {{#if @blog.navigation}}{{navigation}}{{/if}}
           </ul>
        </div> 
      </nav>
      <div class="glass"></div>
    </div>
    <div class="header-wrapper avatar-style-square">
      <header id="header">
        <div class="header-image-wrapper">
                      <div class="header-image cover" {{#if image}}style="background-image: url({{image}})"{{else}}{{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}{{/if}}></div>
                  </div>
        <div class="blog-title content">
          <figure class="avatar-wrapper animate">
            <a href="/about/" style="background-image:url({{asset "avatar.png"}})" class="user-avatar"></a>
          </figure>
          <div class="title-group animate">
            <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
            <span class="description">{{@blog.description}}</span>    
          </div>
        </div>   
      </header>
    </div>
  </section>
<section id="posts" class="content clearfix  avatar-style-square">
 <article class="text">
  <div class="post-wrapper clearfix">
    <section class="post">
      <h2>{{title}}</h2>
      <div class="body-text">{{content}}</p>
</div>
    </section>
    <section class="panel">
    <footer class="post-footer">
      <section class="meta"> 
        <ul class="date-notes">
          <li class="post-notes">
            <!-- <a href="#">个人感受</a> 无 </li> -->
        </ul>
      </section>
    <section class="post-controls">
      <ul>
        <li><a href="http://www.jiathis.com/share" title="分享这篇文章" target="_blank" class="share icon-reblog"></a></li>
      </ul>
    </section>
    </footer>
   </section>
  </div>
 </article>
</section>
<div class="obox"> 
<div id="disqus_thread">
<!-- 把评论框代码扔到这里 -->
</div>
</div>
</div>
{{/post}}
